<section class="animate__animated animate__fadeIn contentPage">
    <header class="contentPage__header">
        <app-header [data]="dataHeader" [type]="'news'"></app-header>
    </header>

    <div class="contentPage__breadcrumbs">
        <div class="-mt-10">
            <app-breadcrumb [data]="" [type]="'page'"></app-breadcrumb>
        </div>
        <div class="breadcrumb_filter">
            <div class="breadcrumb_filter__container" *ngFor="let item of dataFilter">
                <span>{{item.title}}</span>
                <select>
                    <option value="">{{message}}</option>
                    <option *ngFor="let itemFil of item.nodes" [value]="itemFil.id">
                        {{itemFil.title}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="contentPage__content contNews">
        <div class="contentPage__content contNews__left">
            <router-outlet></router-outlet>
        </div>
        <div class="contentPage__content contNews__right">
            <app-menu [type]="'lateral'" [data]="dataMenu"></app-menu>
        </div>
    </div>
</section>