<section class="animate__animated animate__fadeIn contentPage">
    <header class="contentPage__header">
        <app-header [data]="dataHeader" [type]="'fixed'"></app-header>
    </header>
    <br>
    <app-title [title]="dataPurpose[0]?.title" [description]="dataPurpose[0]?.description"></app-title>
    <br>
    <app-content [data]="dataValues" [type]="'benefits_about'"></app-content>
    <!-- <app-call-to-action [data]="dataCommercial" [type]="'video'"></app-call-to-action> -->
    <br>
    <app-call-to-action [data]="dataCta" [type]="'normal'"></app-call-to-action>
    <br>
    <br>
</section>