<section class="animate__animated animate__fadeIn contentPage">
    <div class="contentPage__content" [ngClass]="{'class': true}">
        <section class="containerScrollContent">
            <div class="containerScrollContent__left">
            </div>
            <div class="containerScrollContent__right">
                <div class="content_right">
                    <h1>title</h1>
                    <div class="content_right__text reverse">
                        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur tenetur esse asperiores doloremque, debitis mollitia sapiente rerum voluptatum obcaecati doloribus minus accusantium blanditiis sunt, quidem necessitatibus suscipit hic dignissimos reprehenderit?</p>
                        <div class="reverse">imagen</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>