<section class="animate__animated animate__fadeIn contentPage">
    <header class="contentPage__header">
        <app-header [data]="dataHeader" [type]="'fixed'"></app-header>
    </header>
    <br>
    <br>
    <app-accordion [data]="dataProducts" [type]="'price'"></app-accordion>
    <br>
    <app-call-to-action [data]="dataCta" [type]="'center'"></app-call-to-action>
    <br>
    <div class="px-40 contentPage__content">
        <app-form [data]="dataContacts" [type]="'contacts'"></app-form>
    </div>
    <br>
</section>