<section class="animate__animated animate__fadeIn contentPage">
    <header class="contentPage__header">
        <app-header [data]="dataHeader" [type]="'resources'"></app-header>
    </header>
    <app-accordion [data]="dataFaqs" [type]="'faqs'"></app-accordion>
    <br>
    <br>
    <!-- <app-content [data]="dataSpecifications[0]?.detail" [type]="'benefits'"></app-content> -->
    <app-call-to-action [data]="dataManuals" [type]="'normal'"></app-call-to-action>
    <br>
    <app-carousel [data]="dataNews" [type]="'news'" ></app-carousel>
    <!-- <app-stycky [data]="" [type]="'banner'" ></app-stycky> -->
</section>
