<!-- Start Mensaje de error - requeridos -->
<small *ngIf="invalidValue(form, data.fcname) && getLength(form, data.fcname) == 0" class="text-sm font-semibold text-red-500 opacity-70">
    {{data.errorRequired}}
</small>

<!-- Start Mensaje de error - minLength y maxLength -->
<small
    *ngIf="(invalidValue(form, data.fcname) && data.type !== 'phone' && getLength(form, data.fcname) > 0) && (data.minLength > getLength(form, data.fcname) || data.maxLength < getLength(form, data.fcname)) "
    class="text-sm font-semibold text-red-500 opacity-70">
    {{data.errorMinMax}}
</small>

<!-- Start Mensaje de error - email -->
<small *ngIf="(invalidValue(form, data.fcname) && getLength(form, data.fcname) > 0) && (data.type === 'email' ) "
    class="text-sm font-semibold text-red-500 opacity-70">
    {{data.errorValid}}
</small>

<!-- Start Mensaje de error - Phone -->
<small *ngIf="(invalidValue(form, data.fcname) && getLength(form, data.fcname) > 0) && (data.type === 'phone' ) "
    class="text-sm font-semibold text-red-500 opacity-70">
    {{data.errorValid}}
</small>

<!-- Start Mensaje de error - Username -->
<small *ngIf="(invalidValue(form, data.fcname) && getLength(form, data.fcname) > 0) && ( data.type === 'username' ) "
    class="text-sm font-semibold text-red-500 opacity-70">
    {{data.errorValid}}
</small>
