<!-- ACOORDION - FAQS -->
<div *ngIf="type === 'faqs'">
    <app-title [title]="data[0]?.title" [description]="''"></app-title>
    <section class="containerFaq">
        <div class="containerFaq__content">
            <div class="content_sep">
                <div *ngFor="let item of data[0]?.nodes"
                    class="containerFaq__content__item"
                    [ngClass]="{'active': item.active}" (click)="activateItem(data[0]?.nodes, item.id)">
                    <button type="button" aria-label="Open item" title="Open item" [ngClass]="{'active': item.active}">
                        <p class="">{{item.question}}</p>
                        <div class="flex items-center justify-center w-8 h-8 border rounded-full">
                            <svg [ngClass]="{'transform rotate-180': item.active}" viewBox="0 0 24 24"
                                class="w-3 text-gray-600 transition-transform duration-200">
                                <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>
                            </svg>
                        </div>
                    </button>
                    <div class="panel" [ngClass]="item.active ?'active':'inactive'">
                        <section class="text-gray-700" *ngFor="let itemOpt of item?.answer">
                            <h3>{{itemOpt.title}}</h3>
                            <p>{{itemOpt.description}}</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>