<!-- ACOORDION - FAQS -->
<div *ngIf="type === 'faqs'">
    <!-- {{data | json}} -->

    <!-- <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"> -->
    <section class="containerFaq">
        <div class="containerFaq__content">
            <div class="content_sep">
                <div class="containerFaq__content__item active">
                    <button type="button" aria-label="Open item" title="Open item" class="active" >
                        <p class="">The quick, brown fox jumps over a lazy dog?</p>
                        <div class="flex items-center justify-center w-8 h-8 border rounded-full">
                            <!-- Add "transform rotate-180" classes on svg, if is open" -->
                            <svg viewBox="0 0 24 24" class="w-3 text-gray-600 transition-transform duration-200">
                                <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>
                            </svg>
                        </div>

                    </button>
                    <!-- Show content if is open
              <div class="p-4 pt-0"><p class="text-gray-700">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae.</p></div>
              -->
                    <div class="p-4 pt-0">
                        <p class="text-gray-700">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque rem aperiam, eaque ipsa quae.</p>
                    </div>


                </div>
                <div class="containerFaq__content__item">
                    <button type="button" aria-label="Open item" title="Open item">
                        <p class="text-lg font-medium">The first mate and his Skipper too will do?</p>
                        <div class="flex items-center justify-center w-8 h-8 border rounded-full">
                            <svg viewBox="0 0 24 24"
                                class="w-3 text-gray-600 transition-transform duration-200 transform rotate-180">
                                <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>