<!-- CONTENT - BENEFITS -->
<div *ngIf="type === 'benefits'">
    <section class="containerBenefits ">
        <div class="containerBenefits__content">
            <!-- Left -->
            <div *ngFor="let item of data ">
                <div class="itemBenefit" [ngClass]="item.position === 'left' ? 'left' : 'right'">
                    <div class="itemBenefit__img" *ngFor="let itemMedia of item.media">
                        <app-media [data]="itemMedia.url" [type]="'img'" [format]="'png'"></app-media>
                    </div>
                    <div class="itemBenefit__cont">
                        <span>{{item.title_head}}</span>
                        <h2>{{item.title}}</h2>
                        <p>{{item.description}}</p>
                    </div>
                </div>
                <hr class="w-3/5 h-1 mx-auto bg-gray-100 mt-14 ">
            </div>
        </div>
    </section>
</div>


<!-- CONTENT - CARDS -->
<div *ngIf="type === 'cards'">
    <div class="containerCardHelp">
        <div class="containerCardHelp__card">
            <h2>The doctor said</h2>
            <p>
                Baseball ipsum dolor sit amet cellar rubber win hack tossed. Slugging catcher slide bench league, left
                fielder nubber.
            </p>
        </div>
    </div>
</div>

<!-- CONTENT - CARDS - HELP -->
<div *ngIf="type === 'cards_help'">
    <div class="containerCardHelp">
        <div *ngFor="let item of data" class="containerCardHelp__card">
            <h2>{{item.title}}</h2>
            <ul>
                <li *ngFor="let itemNode of item.nodes">
                    <a [routerLink]="itemNode.url" routerLinkActive="active">
                        {{itemNode.title}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>