<!-- CONTENT - PRODUCTS - BENEFITS -->
<div *ngIf="type === 'benefits'">
    <div *ngIf="data[0]?.title !== ''" >
        <app-title [title]="data[0]?.title" [description]="data[0]?.description"></app-title>
    </div>
    <section class="containerBenefits ">
        <div class="containerBenefits__content">
            <div *ngFor="let item of data[0]?.nodes">
                <div class="itemBenefit" [ngClass]="item.position === 'left' ? 'left' : 'right'">
                    <div class="itemBenefit__img" *ngFor="let itemMedia of item.media">
                        <app-media [data]="itemMedia.url" [type]="'img'" [format]="'png'"></app-media>
                    </div>
                    <div class="itemBenefit__cont">
                        <span>{{item.title_head}}</span>
                        <h2>{{item.title}}</h2>
                        <p>{{item.description}}</p>
                    </div>
                </div>
                <hr class="w-3/5 h-1 mx-auto bg-gray-100 mt-14 ">
            </div>
        </div>
    </section>
</div>


<div *ngIf="type === 'benefits_about'">
    <div *ngIf="data[0]?.title !== ''" >
        <app-title [title]="data[0]?.title" [description]="data[0]?.description"></app-title>
    </div>
    <section class="containerBenefitsAbout ">
        <div class="containerBenefitsAbout__content">
            <div *ngFor="let item of data[0]?.nodes">
                <div class="itemBenefit" [ngClass]="item.position === 'left' ? 'left' : 'right'">
                    <div class="itemBenefit__img" *ngFor="let itemMedia of item.media">
                        <app-media [data]="itemMedia.url" [type]="'img'" [format]="'png'"></app-media>
                    </div>
                    <div class="itemBenefit__cont">
                        <span>{{item.title_head}}</span>
                        <h2>{{item.title}}</h2>
                        <p>{{item.description}}</p>
                    </div>
                </div>
                <hr class="w-3/5 h-1 mx-auto bg-gray-100 mt-14 ">
            </div>
        </div>
    </section>
</div>


<!-- CONTENT - HELP - CARDS -->
<div *ngIf="type === 'help_cards'">
    <div class="containerCardHelp">
        <div *ngFor="let item of data" class="containerCardHelp__card">
            <h2>{{item.title}}</h2>
            <ul>
                <li *ngFor="let itemNode of item.nodes">
                    <a [routerLink]="itemNode.url" routerLinkActive="active">
                        {{itemNode.title}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- CONTENT - HELP - RESULT  -->
<div *ngIf="type === 'help_results'">
    <div class="containerResultSearch animate__animated animate__fadeIn ">
        <div class="flex flex-col items-end mb-10 mt-14">
            <div class="flex flex-row items-center" *ngFor="let item of data[0]?.header[0]?.filter">
                <span class="mr-5">{{item.title}}</span>
                <select class="px-2 py-1 border border-gray-500 rounded-md outline-none focus:outline-none">
                    <option value="">Selecccione un opcion</option>
                    <option *ngFor="let itemFil of item.nodes" [value]="itemFil.id">
                        {{itemFil.title}}
                    </option>
                </select>
            </div>
        </div>
        <div class="containerResultSearch__results" *ngFor="let item of data[0]?.results">
            <h1>
                {{item.items.length}} {{item.title}}
            </h1>
            <div *ngFor="let itemNode of item.items | paginate : config; let i = index"
                class="content animate__animated animate__fadeIn">
                <div class="content_inside ">
                    <div class="content_inside__title">
                        <a [routerLink]="itemNode.url">{{itemNode.title}}</a>
                        <p class="">{{itemNode.description}}</p>
                    </div>
                    <div class="content_inside__paragraph">
                        <app-breadcrumb [data]="itemNode.breadcrumbs" [type]="'search'"></app-breadcrumb>
                        <div>
                            <div class="date">
                                <i class="mr-2 icofont-ui-calendar"></i>
                                <h5>{{itemNode.date | date:'mediumDate'}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerResultSearch__pagination ">
            <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
                <div class="custom-pagination">
                    <div class="pagination-first" [class.fade]="p.isFirstPage()">
                        <a *ngIf="!p.isFirstPage()" (click)="p.setCurrent(1)">
                            <i class="icofont-rounded-double-left"></i>
                        </a>
                    </div>
                    <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                        <span *ngIf="!p.isFirstPage()" (click)="p.previous()">
                            <i class="icofont-simple-left"></i>
                        </span>
                    </div>
                    <div class="page-number" *ngFor="let page of p.pages"
                        [class.current]="p.getCurrent() === page.value">
                        <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                            {{ page.label}}
                        </span>
                        <div *ngIf="p.getCurrent() === page.value">
                            <span>{{ page.label }}</span>
                        </div>
                    </div>
                    <div class="pagination-next" [class.disabled]="p.isLastPage()">
                        <span *ngIf="!p.isLastPage()" (click)="p.next()">
                            <i class="icofont-simple-right"></i>
                        </span>
                    </div>
                    <div class="pagination-last" [class.disabled]="p.isLastPage()">
                        <a *ngIf="!p.isLastPage()" (click)="p.setCurrent(p.getLastPage())">
                            <i class="icofont-rounded-double-right"></i>
                        </a>
                    </div>
                </div>
            </pagination-template>
        </div>
    </div>
</div>

<!-- CONTENT - HELP - DETAIL -->
<div *ngIf="type === 'help_detail'">
    <div class="containerDetailHelp" *ngFor="let item of data">
        <header>
            <h1> {{item.title}}</h1>
            <p>{{item.description}}</p>
        </header>
        <section>
            <div class="containerDetailHelp__left">
                <h3 *ngFor="let itemNode of item.items; let i = index"
                    [ngClass]="{'active':currentSection==='section'+ i}" (click)="scrollTo('section'+i)">
                    {{itemNode.title}}</h3>
            </div>
            <div class="containerDetailHelp__right">
                <div id="parentDiv" appScrollContent [tagType]="['DIV']" (sectionChange)="onSectionChange($event)"
                    class="containerDetailHelp__right__items">
                    <div *ngFor="let itemNode of item.items; let i = index" [id]="'section'+i" class="content_right">
                        <h1>{{itemNode.title}}</h1>
                        <div class="content_right__text"
                            [ngClass]="{'reverse': itemNode.position === 'left', 'center': itemNode.position === 'center'}">
                            <p [innerHtml]="itemNode.description | safedom: 'html'"></p>
                            <div *ngFor="let itemNodeMedia of itemNode.media"
                                [ngClass]="{'reverse': itemNode.position === 'left'}">
                                <app-media [data]="itemNodeMedia.url" [type]="'img'" [format]="'png'"></app-media>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="containerDetailHelp__right__footer">
                    <h2>{{item.access[0]?.title}}</h2>
                    <ul>
                        <li *ngFor="let itemNodeAccess of item.access[0]?.nodes">
                            {{itemNodeAccess.title}}
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- CONTENT - NEWS - HOME - LIST -->
<div *ngIf="type === 'news_home'">
    <div *ngIf="data.length > 0" class="containerListNews animate__animated animate__fadeIn ">
        <div class="containerListNews__results" *ngFor="let item of data | paginate : config; let i = index">
            <div class="content animate__animated animate__fadeIn">
                <div class="content_inside">
                    <div class="content_inside__text">
                        <div class="content_inside__text__title">
                            <a [routerLink]="item.url">{{item.title}}</a>
                            <p class="">{{item.description}}</p>
                        </div>
                        <div class="content_inside__text__paragraph">
                            <div class="date">
                                <i class="mr-2 icofont-ui-calendar"></i>
                                <h5>{{item.date | date:'mediumDate'}}</h5>
                            </div>
                            <a [routerLink]="item.url">{{item.url_title}}</a>
                        </div>
                    </div>
                    <div class="content_inside__img" *ngFor="let itemMedia of item.media">
                        <app-media [data]="itemMedia.file" [type]="'img'" [format]="'png'"></app-media>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerListNews__pagination ">
            <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
                <div class="custom-pagination">
                    <div class="pagination-first" [class.fade]="p.isFirstPage()">
                        <a *ngIf="!p.isFirstPage()" (click)="p.setCurrent(1)">
                            <i class="icofont-rounded-double-left"></i>
                        </a>
                    </div>
                    <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                        <span *ngIf="!p.isFirstPage()" (click)="p.previous()">
                            <i class="icofont-simple-left"></i>
                        </span>
                    </div>
                    <div class="page-number" *ngFor="let page of p.pages"
                        [class.current]="p.getCurrent() === page.value">
                        <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                            {{ page.label}}
                        </span>
                        <div *ngIf="p.getCurrent() === page.value">
                            <span>{{ page.label }}</span>
                        </div>
                    </div>
                    <div class="pagination-next" [class.disabled]="p.isLastPage()">
                        <span *ngIf="!p.isLastPage()" (click)="p.next()">
                            <i class="icofont-simple-right"></i>
                        </span>
                    </div>
                    <div class="pagination-last" [class.disabled]="p.isLastPage()">
                        <a *ngIf="!p.isLastPage()" (click)="p.setCurrent(p.getLastPage())">
                            <i class="icofont-rounded-double-right"></i>
                        </a>
                    </div>
                </div>
            </pagination-template>
        </div>
    </div>
    <div *ngIf="data.length === 0" class="containerListNews animate__animated animate__fadeIn ">
        <div class="containerListNews__results">
            <div class="content animate__animated animate__fadeIn">
                <div class="content_inside_empty">
                    <div class="content_inside_empty__text">
                        <div class="content_inside_empty__text__title">
                            <span>{{message}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CONTENT - NEWS - DETAILS  -->
<div *ngIf="type === 'news_detail'">
    <div class="containerDetailNews" *ngFor="let item of data">
        <section>
            <div class="containerDetailNews__content">
                <div class="containerDetailNews__content__items">
                    <div *ngFor="let item of data; let i = index" class="content">
                        <h1>{{item.title}}</h1>
                        <div class="content__text">
                            <p [innerHtml]="item.description | safedom: 'html'"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>