<section class="animate__animated animate__fadeIn contentPage">
    <br>
    <br><br><br><br><br><br><br><br>
    HELP
    <header class="contentPage__header">
        <!-- {{dataHeader | json}} -->
        <!-- <app-header [data]="dataHeader" [type]="'helpcenter'"></app-header> -->
    </header>

    <router-outlet></router-outlet>


    <!-- <app-accordion [data]="dataFaqs" [type]="'faqs'" id="scrollfaqs"></app-accordion> -->
    <br>
    <br>
    <!-- <app-content [data]="dataSpecifications[0]?.detail" [type]="'benefits'"></app-content> -->
    <!-- <app-call-to-action [data]="dataManuals" [type]="'normal'"></app-call-to-action> -->
    <br>
    <!-- <app-carousel [data]="dataNews" [type]="'news'" ></app-carousel> -->
    <!-- <app-stycky [data]="" [type]="'banner'" ></app-stycky> -->
</section>
